/* html{
    font-size: 62.5%;
}
*{
    font-family: sans-serif;
}
.container-chitietsanpham{
    padding: 5em 28em;
}
.container-chitietsanpham {
    display: flex;
}
.container-chitietsanpham>.img-sanpham img{
    width: 60em;
}
.container-chitietsanpham>.img-sanpham{
    width: 50em;
}
.container-chitietsanpham>.box-right{
    margin-left: 14em;
}
.container-chitietsanpham>.box-right>h1{
    font-size: 1.6em;
}
.box-right>p{
    font-size: 1.4em;
    font-weight: bold;
}
.box-right>p:last-child{
    font-size: 2.1em;
}
.box-right>.first{
    margin: 0em;
    padding-bottom: 1em;
    border-bottom: 1px inset #dfcbd2;
}
.box-right>.size>p{
    font-size: 1.3em;
}

.soluong input,.box-right>.size button{
    float: left;
    outline: none;
    border-radius: 0;
    margin: 0;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 20px;
    position: relative;
    border: 1px solid #e5e5e5;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.box-right>.size button{
    margin: 0 0.3em;
    margin-bottom: 0.8em;
}
.soluong>.input-mid{
    width: 4em;
    height: 100px;
}
.box-right>.boxmua{
    display: inline-block;
}
.boxmua a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    margin: 10px 0;
    position: relative;
    top: 80px;
}
.box-right .soluong{
    position: relative;
    top: 6em;
    right: 20em;
}
.box-right .img-size img{
    width: 46em;
    margin-top: 10em;
}
.content{
    text-align: justify;
    padding: 2em 7em;
    font-size: 2em;
} */
